<launch>
  <arg name = "record" default="false"/>
  <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_world.launch"
  />
  <node
  pkg = "walker"
  type = "walker"
  name = "walker"
  />

  <node
  pkg = "rosbag"
  name = "record"
  type = "record"
  args = "record -a -o my_rosbag -x '/camera(.*)' --duration=30" if="$(arg record)"
  />
</launch>